section#tictactoe {
  width: 240px;
    padding: 10px,30px,30px;
}

button.btn {
  display: inline-block;
  height: 100px;
  margin-bottom: 4px;
  vertical-align: top;
  width: 80px;
    padding: 10px,12px,12px;
}
button.btn:hover {
  cursor: pointer;
}